.contact-us-background {
  background-image: url("../../public/assets/images/png/contact-us.png");
  background-size: 100% 85%;
  background-repeat: no-repeat;
}

.section-contact-us {
  @media (min-width: $screen-sm-desktop-size) {
    margin-top: -50px !important;
  }
  @media (max-width: $screen-sm-desktop-size) {
    margin-top: -30px !important;
  }
}

.contact-us-heading {
  @media (max-width: $screen-mobile-size) {
    @include heading-types($h4-fz, $h4-lh, $h4-ls, $h4-fw);
  }
}

.contact-us-subheading {
  @media (min-width: $screen-sm-desktop-size) {
    &::after {
      content: "";
      background-image: url("../../public/assets/images/png/envelop-plain-with-path.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 330px;
      height: 220px;
      position: absolute;
      top: -60px;
    }
  }
}

.contact-us-bottom-section {
  background-image: url("../../public/assets/images/png/btn-color-effect.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ready-to-talk-business-heading {
  @media (max-width: $screen-mobile-size) {
    @include heading-types($h4-fz, $h4-lh, $h4-ls, $h4-fw);
  }
}

.email-icons {
  width: 241px;
  height: 64px;
  background: linear-gradient(179deg, #FFF 1.24%, rgba(255, 255, 255, 0.49) 114%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #1C1A33;
  font-family: Inter;
  font-size: 14px;
  padding: 4px 10px;
  @media (max-width: $screen-sm-desktop-size) {
    margin: 40px auto 0!important;
  }
  a {
    margin-left: 10px;
  }
}


