.footer-link {
  &:hover {
    @extend .text-white;
    @extend .text-underline;
  }
}

@media (max-width: $screen-mobile-size) { //440
  footer.bg-midnight {
    padding: 20px !important;
    padding-top: 40px !important;
    > div > div {
      display: block !important;
    }
  }

  .copyright-container {
    display: block !important;

    a {
      margin-left: 0 !important;
    }
  }
}
